/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/themes

web/bundles/*
web/css/*
web/js/*
web/assets/compiled/*
web/media/*
web/compiled/*

/support-files
.idea/
