{% macro create() %}
    <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
            <button type="submit" class="btn btn-success">Crear</button>
            <a href="{{ app.request.headers.get('referer') }}" class="btn default">Cancelar</a>
        </div>
    </div>
{% endmacro %}

{% macro update() %}
    <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
            <button type="submit" class="btn btn-success">Guardar Cambios</button>
            <a href="{{ app.request.headers.get('referer') }}" class="btn default">Cancelar</a>
        </div>
    </div>
{% endmacro %}

{% macro delete() %}
    <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{{ app.request.headers.get('referer') }}" class="btn default">Cancelar</a>
        </div>
    </div>
{% endmacro %}
