<div class="row user-info">
    <div class="col-md-12">
            {% block menu %}
                {{ mopa_bootstrap_menu('SiescAppBundle:AppMenuBuilder:userMenu') }}
            {% endblock %}
    </div>
</div>