<section class="panel">
    <header class="panel-heading">
        <i class="icon-paragraph-justify2"></i>Detalles del Distrito
    </header>
    <div class="panel-body">
        <table class="table table-condensed">
            <tbody>                <tr>
                    <th>Nombre</th><td>{{ siesc_crud_property(entity,"nombre") }}</td>
                </tr>            </tbody>
        </table>
    </div>
</section>