{% extends 'SiescPartesBundle::base.html.twig' %}

{% block main_content %}
    <h2>Editar Parte Diario</h2>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('partes_partediario') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}