{% extends 'SiescWebBundle::base.html.twig' %}

{% block page_title %}
Crear nuevo Cargo Docente
{% endblock %}

{% block current_breadcrumb %}
<li>
    <span>Admin</span>
</li>
<li>
    <a href="{{ path('data_partes_cargo_docente') }}">Cargo Docente</a>
</li>
<li>
    <a href="{{ path('data_partes_cargo_docente_new') }}">Nuevo</a>
</li>
{% endblock %}

{% block page_content -%}
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">Crear nuevo Cargo Docente</header>
                <div class="panel-body">
                    {% include 'SiescWebBundle:Data/Partes/CargoDocente:_new.html.twig' %}
                </div>
            </section>
        </div>
    </div>
{% endblock %}

