{% extends '@SiescWeb/base_admin.html.twig' %}

{% block page_title %}
    Staff Administrativo: "{{ entity}}"
{% endblock %}

{% block page_breadcrumb %}
    <li>
        <a href="{{ path('siesc_tenant') }}">Staff Adminstrativo</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        Editar
    </li>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        {% embed '@SiescAdmin/Widget/admin_form.html.twig' %}
            {% block form_title %}
                Editar Staff Administrativo: "{{ entity }}"
            {% endblock %}
            {% block form_url %}
                {{ path('siesc_docente_edit', {'id': entity.id}) }}
            {% endblock %}
        {% endembed %}
    </div>

{% endblock %}