{% extends '@SiescWeb/base_admin.html.twig' %}

{% block page_title %}
    Institucion
{% endblock %}

{% block page_breadcrumb %}
    <li>
        <a href="{{ path('siesc_tenant') }}">Instituciones</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        Nueva
    </li>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        {% embed '@SiescAdmin/Widget/admin_form.html.twig' %}
            {% block form_title %}
                Crear nueva institucion
            {% endblock %}
            {% block form_url %}
                {{ path('siesc_tenant_new') }}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}